*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      background: rgb(38, 38, 38);
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}