*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      background: rgb(38, 38, 38);
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    min-width: 100%;
   
    
    border:  1px solid gray;
    padding: 10px; 
    text-align: center;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.img{
    width: 90%;
    max-height: 60%;
    border-radius: 20px;
    margin-bottom: 15px;
    &:hover{
        transform: scale(0.9);
    }
}
.text{
  font-size: 30px;
  line-height: 23px;
  color: white;
}
.form{
    max-width: 100%;
}